@model CapstoneV4.Models.DomainModels.Book

@{
    ViewData["Title"] = " | Book Details";
}

<h1>Course Overview</h1>

<table class="table table-bordered table-sm">

    <thead>
        <tr class="thead-dark">
            <th>Course Title</th>
            <th>@Model.Title</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@(Model.BookAuthor.Count > 1 ? "Authors" : "Author")</td>

            <td>
                @foreach (CapstoneV4.Models.DomainModels.BookAuthor ba in Model.BookAuthor)
                {
                    <p>
                        <a asp-controller="Author" asp-action="Details" asp-route-id="@ba.AuthorId">@ba.Author.FullName</a>
                    </p>
                }
            </td>
        </tr>

        <tr>
            <td>
                Price:
            </td>

            <td>@Model.Price.ToString("c")</td>
        </tr>

        <tr>
            <td>Genre:</td>
            <td>@Model.Genre.Name</td>
        </tr>







    </tbody>





</table>


<form asp-controller="Cart" asp-action="Add" method="post">
    <button type="submit" name="id" value="@Model.BookId" class="btn btn-danger">Enroll</button>


</form>